input[type="text"] {
  display: block;
  width: 100%;
  font-size: 12px;
  border: 1.5px solid #353795;
  padding: 0.5em;
  color: #353795;
  border-bottom-width: 3px;
  border-radius: 0 0 0.5em 0.5em;
}

input:focus {
  background-color: #fff;
  border: 3px solid #353795;
  outline: none;
  border-bottom-width: 3px;
  border-radius: 0 0 0.5em 0.5em;
}

.fix-height {
  height: 2em;
}
