/* ---------------------------------------------- */

/* Bottom right links */

/* ---------------------------------------------- */

.save-reload {
  justify-content: left;
  margin: 0 -0.5em;
  display: none;
}

.save-reload-inner {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 0 0.5em;
  font-size: 13px;
  font-weight: 800;
  background-color: #ef8872;
  color: #fff;
  padding: 0.5em;
  border-radius: 0.3em;
}

.save-reload-inner > a {
  color: #fff;
  text-decoration: none;
}

.save-reload-inner > a:active {
  color: #fff;
}

#click-to-copy-url .tooltiptext {
  visibility: hidden;
  width: 11em;
  background-color: #fec7ba;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-weight: 500;
}

#click-to-copy-url .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fec7ba transparent transparent;
}

#click-to-copy-url:hover .tooltiptext {
  visibility: visible;
}
