/* ---------------------------------------------- */

/* Styles for the scroll list area */

/* ---------------------------------------------- */

.list-container {
  max-height: 30vh;
  overflow: auto;
}

.list-border-container {
  margin: 1em 0 0;
  border: 1.5px solid #353795;
  border-bottom-width: 4px;
  border-radius: 0 0 0.5em 0.5em;
  padding-bottom: 0.3em;
  background-color: #fff;
}

.list-container-expanded {
  margin: 1em 0 0;
  max-height: 60vh;
  overflow: auto;
}

@media only screen and (max-width: 1200px) {
  .list-container {
    max-height: 9vh;
  }
}

@media only screen and (max-width: 900px) {
  .list-container-expanded {
    max-height: 20vh;
  }
}

.listbox {
  padding: 0 0.5em;
}

[role="option"] {
  display: block;
  line-height: 1em;
  padding: 0.2em;
  font-size: 12px;
}

li.school-list-item {
  border-bottom: 1px solid #bbb;
  padding: 0.5em;
  background-color: #fff;
  cursor: pointer;
}

li.school-list-item-clicked {
  background-color: #353795;
  color: #fff;
  padding: 0.5em;
  border-bottom: 1px solid #353795;
  cursor: pointer;
}

li.school-list-item:hover {
  background-color: #eee;
}

/* ---------------------------------------------- */

/* Styles for the compare area */

/* ---------------------------------------------- */

.school-compare-scroll-box {
  height: 65vh;
  overflow-y: auto;
}

#school-list-expand-button {
  background-color: #353795;
  color: #fff;
  width: 3em;
  padding: 0 0.5em;
  border-radius: 0 0 0.4em 0.4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 12px;
  line-height: 0.8;
  display: none;
  cursor: pointer;
}
